.selector-for-some-widget {
    box-sizing: content-box;
}

header {
    min-height: 9vh;
    background-color:	#3a0ca3;
}

main {
    min-height: 83vh;
    background-color: #7209b7;
   

}
.carousel-caption {
    font-size: 5rem;
    text-shadow: 0.5px 0.5px #000000;
    font-family: 'Montserrat', sans-serif;
   
  }


.carousel-item {
    max-height: 25vh;
}

.imagencarrusel {
    max-height: 50vh;
    width: 100vw;

    
}



.tarjetas {
  
    display: flex;
    justify-content: space-around;
    align-items: stretch;
   


}
                  

.cuerpotarjetas {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;


}


fieldset{
    border-radius: 3px;
    border-color: black;
    width: 80vh;
}
.table {
    max-width: 70%;
}


footer {
    min-height: 8vh;
    background-color:	 #f72585;
}
.redes{
    height: 2.5rem;
    width: 2.5rem;
   
}