.selector-for-some-widget {
    box-sizing: content-box;
}

header {
    min-height: 9vh;
    background-color:	 #ffbf80;
}

main {
    min-height: 80vh;
   

}
.carousel-caption {
    font-size: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
   
  }

.carousel-item {
    max-height: 25vh;
}


.imagencarrusel {
    max-height: 50vh;
    width: 100vw;

    
}


.tarjetas {
  
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    card-border-color: bl


}
.card-border-color{ bl
    
}               

.cuerpotarjetas {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    

}
fieldset{
    border-radius: 3px;
    border-color: black;
    width: 80vh;
}


footer {
    min-height: 9vh;
    background-color:	 #ffbf80;
}
.redes{
    height: 2.5rem;
    width: 2.5rem;
}